<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <h1>About <%=shopName%> Shop</h1>
    <p style="color: blue;">We sell all sorts of drinks</p>
    <h2>Shop Locations</h2>
    <ul>
      <% shopInfo.forEach(function(location) { %>
        <li>
          <h3><%= location.location %></h3>
          <p><b>Address:</b> <%= location.address %></p>
          <p><b>Manager:</b> <%= location.manager %></p>
        </li>
      <% }); %>
    </ul>
  </body>
</html>