<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <h1>About <%=shopName%> Shop</h1>
    <p style="color: blue;">We sell all sorts of drinks</p>
    <h2>Shop Locations</h2>
    <ul>
      <% shopLocations.forEach(function(location) { %>
        <h3><%=shop.name%></h3>
        <p><b>Address:</b> <%=shop.address%></p>
        <p><b>Manager:</b> <%=shop.manager%></p>
      <% }); %>
    </ul>
  </body>
</html>